In [1]:
from ift6758.data import wandb_handler

# download data from wandb

In [2]:
data_loader = wandb_handler.DataLoader(project_name="IFT6758-2024-B05")

# read 2016-2017 season to dataframe

In [3]:
df = data_loader.load_season_dataframe(artifact_name="train_val_feature_eng_1", artifact_version="v3", season="2017-2018")

wandb: Using wandb-core as the SDK backend. Please refer to https://wandb.me/wandb-core for more information.
wandb:   4 of 4 files downloaded.

Artifact downloaded to: ..\ift6758\data\wandb_artifacts\train_val_feature_eng_1

In [4]:
df

,season,game_id,event_id,angle_from_net,is_goal,empty_net,distance_from_net
0,20172018,2017020001,54,27.847578,0,0,59.941638
1,20172018,2017020001,55,4.085617,0,0,14.035669
2,20172018,2017020001,58,32.005383,0,0,18.867962
3,20172018,2017020001,62,18.434949,0,0,9.486833
4,20172018,2017020001,68,25.016893,0,0,49.658836
...,...,...,...,...,...,...,...
81868,20172018,2017021271,634,43.408860,0,0,50.931326
81869,20172018,2017021271,638,9.462322,1,0,60.827625
81870,20172018,2017021271,641,15.422161,0,0,60.166436
81871,20172018,2017021271,642,41.633539,0,0,12.041595
81872,20172018,2017021271,644,15.091573,1,1,92.179173